.dataTable.table > tbody > tr > td{
    vertical-align: middle;
}
.dd3-content .item-name {
    width: 66%;
    overflow: hidden;
    vertical-align: top;
    height: 100%;
}

.dd3-content .item-control {
    vertical-align: top;
    width: 25%;
    text-align: right;
}
 .item-control .switch.switch-small {
    margin: 0px;
}
.dd3-content .item-control .badge {
    vertical-align: top;
    cursor: pointer;
}

.features div.list-group-item{
    cursor: -webkit-grab;
}
.sortable-table tr:not(.active){
    cursor: -webkit-grab;
}
.ui-sortable-helper{
    cursor: -webkit-grabbing;
}
.panel-colorful.features{
    /* overflow: hidden; */
}
.list-group-contacts .list-group-item {
    max-height: 160px;
    overflow: hidden;
    background: rgba(255,255,255,1); background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1))); background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.feature-edit, .feature-remove {
    background: #fff !important;
}
.list-group-contacts .list-group-item.feature-form {
    max-height: none;
    overflow: visible;
}
.col-up {
    z-index: 100;
}