[data-sr] {
    visibility: visible;
}
.article-control-panel {
    position: fixed;
    bottom: 20px;
    left: 0;
    z-index: 999999;
    width: 100%;
    text-align: center;
}

.article-control-panel .btn {
    display: inline-block;
    text-align: center;
    height: 38px;
    padding-top: 9px;
}

.article-control-panel .btn .fa {
    margin-right: 0;
}
.content-data img{
    width: 100%!important;
    height: 100%!important;
    display: block;
}
.modal {
    background: transparent;
}
.article-control-panel .btn:hover {
    background: #ba9b47;
    border-color: #ba9b47;
}
.template-item {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-size: 100% 100%;
    border: 2px solid;
    margin: 5px;
    cursor: pointer;
}
.template-item:hover{
    border-color: #ba9b47;
}
.template-item-content{
    display: none;
}
.ui-state-highlight {
    min-height: 500px;
    background-color: rgba(10, 10, 200, 0.5);
}
.item-admin:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    border: 3px solid #fff;
    z-index: 999;
}
.item-admin-control {
    position: absolute;
    width: 160px;
    height: 34px;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-top: -17px;
    margin-left: -80px;
    z-index: 1002;
}
.item-admin-control .btn {
    background: #000;
    margin: 0 4px;
    text-align: center;
}

.item-admin-control .btn:hover {
    background: #ba9b47;
}
.btn-content-sort.active {
    background-color: #ba9b47;
}
.content-data-bg.item-bg-right img {
    display: block;
}

.content-data-bg.item-bg-left img {
    display: block;
}
.content p.letter::first-letter{font-size:inherit;font-family:inherit;line-height:inherit;float: none; padding: 0;}

.article-view-t3 .content .bg-center-cover > img{
    display: block;
    width: auto!important;
    height: auto !important;
}
.row-same > div {
    height: auto!important;
}
.article-view-t3 .content .item{
    padding: 0px;
}
.item-photo-half .img-block img {
    display: block;
    max-width: 100%;
}
.article-view-t5 .item > img {
    display: block;
}

.article-view-t5 .item-cell {
    display: block;
}
.article-view-t5 .item.item-bg-center {
    display: block;
    width: 100%;
}
#templateModal {
    z-index: 9001;
}
.item-t7 .block-cell.img-block img {
    visibility: visible;
}
.article-view-t9 .item-success .block-table {
    background: rgba(0,0,0,0.5);
}
.for-parallax {
    display: none;
}
.article-view-t13 .item {
    margin-top: 0;
}
.s {
    position: relative;
}
.img-holder-special:after{
    display: none;
}