@font-face {
    font-family: Butler;
    src: url('/front/fonts/Brandidentity/Butler_Regular.otf');
}

@font-face {
    font-family: QuaverSans;
    src: url('/front/fonts/Brandidentity/QuaverSans.otf');
}

@font-face {
    font-family: FuturaMedium;
    src: url('/front/fonts/Brandidentity/FuturaMedium.otf');
}

@font-face {
    font-family: OpenSans;
    src: url('/front/fonts/Brandidentity/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Lato;
    src: url('/front/fonts/Brandidentity/Lato-Regular.ttf');
}

@font-face {
    font-family: LatoBold;
    src: url('/front/fonts/Brandidentity/Lato-Bold.ttf');
}

@font-face {
    font-family: Scriptina;
    src: url('/front/fonts/Brandidentity/Scriptina.ttf');
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.padding5 {
    padding: 5%;
}

.paddingTop20 {
    padding-top: 20px;
}

.margintop30 {
    margin-top: 30px;
}

.to-right {
    text-align: right !important;
}

.move-up-250 {
    margin-top: -250px;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.img {
    height: 100%;
    width: auto;
}

.to-left {
    text-align: left !important;
}

.to-right {
    text-align: right !important;
}

.vertical-line {
    height: 100%;
    width: 0px;
    position: relative;
}

body {
    background-color: #F0F0F0 !important;
}

section {
    position: relative;
}

img.bg-image {
    height: auto;
}

/* SECTION - HEADER */

/* Header image - div for text */
section#header {
    padding-bottom: 100px;
}

div.inner-box {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    height: 80%;
}

div.inner-box > .header-img {
    height: auto;
}

div.inner-text-box {
    position: absolute;
    text-align: center;
    z-index: 2;
}

div.inner-text-box.welcome-msg {
    top: 4%;
    padding-right: 8%;
    text-align: right;
}

div.inner-text-box.welcome-msg > div.txt {
    display: inline-block;
    text-align: left;
    font-family: Butler;
    color:  #2b2d39;
    font-size: 1.3em;
    font-weight: 400;
}

.inner-text-box .title {
    margin-top: 6%;
    height: 9%;
    padding-top: 30px;
}

.inner-text-box .text {
    font-family: OpenSans;
    color:  #b8b2ac;
    line-height: 1.6em;
    text-align: left;
    font-size: 0.8em;
    font-size: 1.2em;
}

div.inner-text-box.central-text {
    left: 0px;
    top: 23%;
    height: 45%;
}

div.inner-text-box > div.header-logo {
    display: inline-block;
    margin-top: 3%;
    margin-left: 3%;
    width: 24%;
}

div.inner-text-box > div.brand-identity {
    display: inline-block;
    width: 35%;
    margin-top: -1.5%;
}

div.inner-text-box > div.header-line {
    margin-top: 5%;
    text-align: center;
    display: inline-block;
    height: 30%;
}

div.header-line > div.vertical-line {
    border: 1px solid #a1a1a1;
}

.header-button {
    margin-top: 1%;
}

/* Header - Contents part */
.contents-img {
    margin-top: 30px;
    width: 100%;
    height: auto;
    float: right;
}

img.contents-line {
    margin-top: 25%;
}

.contents-link {
    margin-top: 100px;
}

.content-title {
    text-transform: uppercase;
    position: relative;
}

.content-title > .number {
    font-family: QuaverSans;
    color:  #e1e1e1;
    font-size: 6.062em;
    line-height: 0.5em;
    display: inline-block;
    letter-spacing: 7px;
}

.content-title .title {
    font-family: FuturaMedium;
    color:  #63696d;
    font-size: 2.125em;
    display: inline-block;
    position: absolute;
    line-height: 1em;
    left: 6%;
}

.content-navigation a {
    font-family: FuturaMedium;
    color:  #63696d;
    font-size: 1.124em;
    display: block;
    text-transform: uppercase;
    margin-left: 8%;
}

/* SECTION 1 */

/*Verbal identity */
.inner-box {
    height: 100%;
}

.section-page {
    top: 35%;
}

.verbal-identity-title, .visual-identity-title {
    height: 9%;
    margin-top: 8%;
}

.visual-identity-title {
    margin-top:  4%;
}

.application-title, .connect-title {
    margin-top: 12%;
    height: 15%;
}

.application-title {
    height: 11%;
}

.section-page .identity {
    margin-top: 6%;
    height: 13%;
}

.verbal-identity-text {
    font-family: Butler;
    color:  #555555;
    font-size: 1.5em;
    line-height: 1.333;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

.section-page .number {
    text-align: center;
    font-family: FuturaMedium;
    color:  rgba(238, 237, 232, 0.25);
    font-size: 3.097em;
    margin-top: 4%;
}

.title img, .ellipse-contact-img img {
    height: 100%;
    width: auto;
}

/* Our values */
.text-box {
    margin-top: 5%;
    text-align: left;
}

.hidden-box {
    height: 80px;
}

.text:first-child:first-letter {
    float: left;
    line-height: 50px;
    font-size: 60px;
    visibility: hidden;
    padding-right: 10px;
}

.text:first-child:after {
    background: url("/front/img/presskit/E.png") no-repeat scroll 0 0 transparent;
    content: " ";
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0px;
    width: 100px;
    height: 100px;
}

/* Our story */
.text-box.our-story {
    margin-left: 15%;
}

.our-story .text {
    color: #555555;
}

/* Visual identity */
.visual-identity {
    height: 2300px;
}

.visual-identity .service-info-logo {
    margin-top: 10%;
    height: 3%;
}

.visual-identity .service-info-logo.logo-title {
    height: 6%;
    margin-top: 14%;
    padding-top: 4%;
}

.visual-identity .service-info-logo.color-pallete {
    padding-top: 5%;
    height: 9%;
    margin-top: 0;
}

.visual-identity .service-info-text.about-logo {
    margin-top: 5%;
    text-align: center;
}

.visual-identity .main-logo {
    height: 5%;
    margin-top: 5%;
}

.visual-identity .pallete-container {
    width: 70%;
    margin-top: 5%;
    text-align: center;
    display: inline-block;
}

.color-image {
    height: 10%;
    text-align: center;
    display: inline-block;
    height: 200px;
    width: 200px;
}

.color-name {
    font-family: OpenSans;
    color: #64696d;
    font-size: 1.25em;
    line-height: 1.2;
    margin-top: 6%;
}

.color-details {
    font-family: OpenSans;
    color: #64696d;
    font-size: 0.938em;
    line-height: 1.6;
    margin-top: 7%;
}

.visual-identity .typography-title {
    font-family: Scriptina;
    color:  #555555;
    font-size: 4.682em;
    text-align: center;
    margin-top: 5%;
}

.visual-identity .typography-content {
    font-family: Scriptina;
    color:  #555555;
    font-size: 1.571em;
    line-height: 2.3em;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 5%;
}

#typography, #typeface {
    padding-top: 5%;
    margin-top: 0;
    height: 7%;
}

.visual-identity .typeface {
    margin-top: 5%;
    text-align: center;
    width: 80%;
    display: inline-block;
}

.typeface-title {
    font-family: LatoBold;
    color:  #555555;
    font-size: 0.938em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.typeface-content {
    margin-top: 3%;
}

.typeface-primary .typeface-content {
    font-family: Butler;
    color:  #292a29;
    font-size: 1.41em;
    line-height: 1.5;
}

.typeface-secondary .typeface-content {
    font-family: OpenSans;
    color:  #292a29;
    font-size: 1.408em;
    line-height: 1.5;
}

/* SECTION 3  - Application */
.service-info-logo {
    text-align: center;
    height: 10%;
}
.service-info-title {
    font-family: FuturaMedium;
    color:  #555555;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
}
.service-info-text {
    font-family: OpenSans;
    color:  #555555;
    font-size: 1em;
    line-height: 1.333;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 3%;
}
.digital-website {
    padding-top: 2%;
}

.inner-text-box .service-info-text, .inner-text-box .service-info-logo {
    text-align: left;
}

.inner-text-box .service-info-text {
    color: rgba(255, 255, 255, 0.55);
    line-height: 1.6em;
}

.tv-advertising .text-box, .email-signature .text-box {
    margin-top: 28%;
    margin-left: 10%;
}

.email-signature .text-box {
    margin-top: 26%;
}

.email-signature {
    margin-top: -8%;
}

.newsletter .text-box {
    margin-top: 27%;
    margin-left: 58%;
}

.newsletter {
    margin-top: -15%;
}

/* SECTIONS 4 - CONTACT*/
.get-in-touch {
    margin-top: -8%;
}

.get-in-touch .text-box {
    margin-left: 0;
    margin-top: 0;
}

.get-in-touch .inner-text-box .service-info-text, .get-in-touch .inner-text-box .service-info-logo, .service-info-image .service-info-logo {
    text-align: center;
}

.get-in-touch .service-info-text.footer, .visual-identity .service-info-text {
    margin-top: 7%;
    color:  #555555;
}

.ellipse-contact-img {
    text-align: center;
}

.get-in-touch .service-info {
    margin-top: 9%;
}

.get-in-touch .central-content {
    margin-top: 6%;
}

.central-content {
    height: 60%;
}

.contact-links {
    margin-top: 12%;
}

.social-media {
    margin-top: 3%;
}

.lifeluxury-link {
    margin-top: 2%;
}

.lifeluxury-link a {
    font-family: OpenSans;
    color:  #2b2d39;
    font-size: 1.2em;
    line-height: 2.283;
    letter-spacing: 4px;
}

.message-icons {
    text-align: center;
}

.to-center {
    display: inline-block;
    width: 50%;
}

.social-media .to-center {
    width: 27%;
}

.chat-with-us, .contact-us {
    display: inline-block;
}

.chat-with-us {
    padding-right: 5%;
}

.contact-us {
    padding-left: 5%;
}

.chat-text, .contact-text {
    padding-top: 10px;
    font-family: FuturaMedium;
    color:  #aba49d;
    text-transform: uppercase;
    font-size: 1.536em;
    line-height: 1.646;
    text-align: center;
}

#get-in-touch {
    padding-top: 20px;
}

.first-page {
    top: 12% !important;
}

/******************************** PRESS KIT *******************************************/
div.inner-text-box > div.press-kit {
    display: inline-block;
    width: 23%;
}

.margintop40 {
    margin-top: 40px;
}

.contents-link {
    margin-top: 100px;
}

.section-link {
    position: absolute;
    top: 80px;
}
.warm-welcome-title {
    margin-top: 12%;
    height: 40%;
}

.the-collection-title  {
    margin-top: 9%;
    height: 30%;
}

.about-us-title {
    margin-top: 10%;
    height: 17%;
}

.our-vision-title {
    margin-top: 12%;
    height: 15%;
}

.warm-welcome-title-text, .our-vision-title-text  {
    margin-top: 20%;
}

.about-us-title-text {
    margin-top: 20%;
}

.warm-welcome-text, .about-us-text, .our-vision-text {
    margin-top: 35%;
    color: #2b2d39 !important;
}

.our-vision-text {
    margin-top: 22%;
}

.about-us-text {
    margin-top: 15%;
}

.service-info-text {
    color: #2b2d39 !important;
}

.ll-creative .service-info-text, .ll-renedez-vous .service-info-text, .ll-magazine .service-info-text {
    margin-top: 30px;
}

.ll-creative .inner-text-box .title, .ll-renedez-vous .inner-text-box .title, .ll-magazine .inner-text-box .title {
    margin-top: 2%;
}

.ll-rendez-vous .inner-text-box .title {
    padding-top: 50px;
}

.ll-creative-image, .ll-rendez-vous-image, .ll-magazine-image {
    float: none;
    display: block;
    text-align: center;
    margin-top: -40px;
    height: 350px;
}

.ll-magazine-image {
    left: 200px;
    top: -35%;
    height: 53%;
}

.ll-creative-image {
    /* Add responsive */
}

.ll-rendez-vous-image {
    /* Add responsive */
}

.newsletter-signup .service-info-text {
    color: #cdcfc1 !important;
}

.newsletter-info, .newsletter-form {
    display: block;
    text-align: center;
}

.newsletter-info-inner {
    text-align: left;
    display: inline-block;
}

.newsletter-info .service-info-text {
    margin-top: 10px;
}

.newsletter-form-inner {
    width: 60%;
    text-align: left;
    display: inline-block;
}

.newsletter-form label {
    width: 100%;
    font-family: OpenSans;
    color: rgba(255, 255, 255, 0.25);
    font-size: 0.75em;
    line-height: 2;
    margin-bottom: 2px;
}

.newsletter-form input {
    font-family: OpenSans;
    width: 100%;
    border: 3px solid #b0aaa3;
    background-color: #2B2D39;
    height: 35px;
    color: #cdcfc1;
    padding: 5px;
}

.newsletter-form .btn {
    text-transform: uppercase;
    border-radius: 0px;
    background-color:  #cdcfc1;
    font-family: OpenSans;
    color:  #2b2d39;
    font-size: 1em;
    padding-left: 30px;
    padding-right: 30px;
}


.big-letter:first-letter {
    float: left;
    line-height: 50px;
    font-size: 60px;
    visibility: hidden;
    padding-right: 10px;
}

.big-letter:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0px;
    width: 100px;
    height: 100px;
}

.letter-l:after {
    background: url("/front/img/presskit/L.png") no-repeat scroll 0 0 transparent;
}

.letter-w:after {
    background: url("/front/img/presskit/W.png") no-repeat scroll 0 0 transparent;
}

.hidden-box {
    height: 80px;
}

.height30 {
    height: 30px;
}

.height200 {
    height: 200px;
}

.magazine-title, .creative-title, .rendez-vous-title {
    padding-top: 0 !important;
}

.header-button > a > img:hover {
    border-color: #fff;
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -o-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
}

.social-media .to-center .icon > a >img:hover
{
    zoom: 110%;
    cursor: hand;
    border-radius: 35px;
    box-shadow: 0px 0px 0px 8px white;
}

.chat-with-us .img > a > img:hover, .contact-us .img > a > img:hover
{
    zoom: 108%;
    cursor: hand;
    border-radius: 30%;
    /*box-shadow: 0px 0px 0px 8px rgba( 205, 207, 193, 0.169 );*/
}
