@font-face {
    font-family: 'latin_modern_roman10_italic';
    src: url('/front/fonts/lmroman10-italic-webfont.eot');
    src: url('/front/fonts/lmroman10-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/front/fonts/lmroman10-italic-webfont.woff') format('woff'),
    url('/front/fonts/lmroman10-italic-webfont.ttf') format('truetype'),
    url('/front/fonts/lmroman10-italic-webfont.svg#latin_modern_roman10_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latin_modern_roman10_italic';
    src: url('/front/fonts/lmroman10-italic-webfont.eot');
    src: url('/front/fonts/lmroman10-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/front/fonts/lmroman10-italic-webfont.woff') format('woff'),
    url('/front/fonts/lmroman10-italic-webfont.ttf') format('truetype'),
    url('/front/fonts/lmroman10-italic-webfont.svg#latin_modern_roman10_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.mz-loading .mz-loader{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.mz-loading .mz-loader div{
    display: block;
}

.mz-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    z-index: 999999999999;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.mz-loader div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.mz-loader div p {
    text-transform: uppercase;
    margin-top: 15px;
    font-family: Butler;
    color: #a39c95;
    font-size: 16px;
    font-style: normal;
}
.mz-loader div p span {
    font-size: 20px;
}
.mz-loader img {
    max-width: 100%;
    height: auto;
}


.mz-loading .mz-loader{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.mz-loading .mz-loader div{
    display: block;
}
.mz-loading .section-image:after{top:50%;}
.mz-loading .slider-magazine .carousel-inner>.item:after{bottom:50%;}
.mz-loading .mn, .mz-loading .slider-magazine .carousel-caption , .mz-loading .slider-magazine .carousel-control, .mz-loading .article-discover{top:-200px;}
.mz-loading .section-image h1{opacity:0;}
body.mz-loading{overflow:hidden;}

.mz-loading .article-view-t7 .magazine-issues{opacity:0;}
.mz-loading .magazine-label{opacity:0;}

.slider-block.loading{background:#fff url(/front/img/preloader.gif) no-repeat center;}
.slider-block.loading{background:#fff url(/front/img/preloader.gif) no-repeat center;}
/*HOME NEW CSS FILE */
/*  Table of Contents
    - - - - - - - - -
    1. Common
        1.1. General.
        1.2. Header.
        1.3. Sidebar(navigation).
        1.4. Popup(carousel).
        1.5. Footer.
    2. Home
        2.1. Banner.
        2.2. Advertising.
        2.3. Contact us.
    - - - - - - - - -
*/

/*1. Common.*/

/*1.1. General.*/
@font-face {
    font-family: 'Butler';
    src: local('Butler'),
    url('../fonts/Butler/butler_medium-webfont.woff2') format('woff2'),
    url('../fonts/Butler/butler_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler'),
    url('../fonts/Butler/butler_bold-webfont.woff2') format('woff2'),
    url('../fonts/Butler/butler_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fefefe;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.container-wide {
    padding: 0 93px 0 89px;
}

.panel-left {
    float: left;
}

.panel-center {
    display: inline-block;
}

.panel-right {
    float: right;
}

a:focus {
    outline: none;
}

.btn:focus,
.btn:active:focus {
    outline: none;
}



.link-custom {
    position: relative;
}

.link-custom:focus,
.link-custom:hover {
    text-decoration: none;
    padding-bottom: 5px;
}

.link-custom:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: .3s width;
    -moz-transition: .3s width;
    -o-transition: .3s width;
    transition: .3s width;
}

.link-custom:focus:before,
.link-custom:hover:before {
    width: 90%;
}

.btn-custom {
    position: relative;
    overflow: hidden;
}

.btn-custom:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 150%;
    height: 100%;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -moz-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -o-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -ms-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform .5s,
    opacity .5s,
    background-color .5s;
    -moz-transition: -moz-transform .5s,
    opacity .5s,
    background-color .5s;
    -o-transition: -o-transform .5s,
    opacity .5s,
    opacity .5s,
    background-color .5s;
    transition: -ms-transform-origin .5s,
    transform .5s,
    opacity .5s,
    background-color .5s;
}

.btn-custom:hover:before {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    -o-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.modal {

}

.modal-dialog {

}

.modal-content {
    height: 582px;
    width: 1036px;
    border-radius: 0;
}

/*1.2. Header.*/
.header {
    z-index: 1000;
    position: fixed;
    top: 35px;
    left: 0;
    width: 100%;
    height: 57px;
    text-align: center;
}

.header > .container-wide {
    height: 100%;
}

.header-panel {
    height: 100%;
}

.header-link {
    display: inline-block;
    width: 18px;
    height: 100%;
    line-height: 57px;
    vertical-align: top;
    -webkit-transition: .3s -webkit-transform;
    -moz-transition: .3s -moz-transform;
    -o-transition: .3s -o-transform;
    transition: .3s transform;
}

.header-link:focus,
.header-link:hover {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
}

.header-link:focus path,
.header-link:hover path {
    fill: #fefefe;
}

.header-link-magazine {
    margin-right: 5px;
}

.logo-link {
    display: inline-block;
}

.sidebar-btn-wrapper {
    line-height: 57px;
}

.sidebar-btn-open {
    position: relative;
    width: 35px;
    height: 36px;
    padding: 0;
    border: 1px solid #ced0c3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    text-align: center;
    -webkit-transition: .3s border-color,
    .3s -webkit-transform;
    -moz-transition: .3s border-color,
    .3s -moz-transform;
    -o-transition: .3s border-color,
    .3s -o-transform;
    transition: .3s border-color,
    .3s transform;
}

.sidebar-btn-open:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidebar-btn-open:focus,
.sidebar-btn-open:hover {
    border-color: #fff;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sidebar-btn-strip {
    display: block;
    width: 13px;
    height: 2px;
    margin: 0 auto 2px;
    background-color: #ced0c3;
    -webkit-transition: .3s background-color;
    -moz-transition: .3s background-color;
    -o-transition: .3s background-color;
    transition: .3s background-color;
}

.sidebar-btn-strip:last-child {
    margin-bottom: 0;
}

.sidebar-btn-open:focus .sidebar-btn-strip,
.sidebar-btn-open:hover .sidebar-btn-strip{
    background-color: #fff;
}

/*1.3. Sidebar(navigation).*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 0;
    height: 100%;
    visibility: hidden;
    -webkit-transition: 0s width .5s,
    0s visibility .5s;
    -moz-transition: 0s width .5s,
    0s visibility .5s;
    -o-transition: 0s width .5s,
    0s visibility .5s;
    transition: 0s width .5s,
    0s visibility .5s;
}

.sidebar.open {
    width: 323px;
    visibility: visible;
    -webkit-transition: 0s width 0s,
    0s visibility 0s;
    -moz-transition: 0s width 0s,
    0s visibility 0s;
    -o-transition: 0s width 0s,
    0s visibility 0s;
    transition: 0s width 0s,
    0s visibility 0s;
}

.navigation-bar {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 142px;
    margin-left: -100%;
    background-color: rgba(43, 45, 57, .9);
    -webkit-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    -moz-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    -o-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
}

.sidebar.open .navigation-bar {
    margin-left: 0;
}

.navigation-bar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: #2b2d39;
}

.navigation {
    height: 100%;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navigation > li {
    display: table;
    height: 16.33%;
    width: 100%;
}

.navigation > li > a {
    display: table-cell;
    width: 100%;
    padding: 0 33px;
    color: #54565b;
    font-weight: 500;
    font-family: 'Butler', serif;
    -webkit-transition: .5s color;
    -moz-transition: .5s color;
    -o-transition: .5s color;
    transition: .5s color;
}

/*NAVIGATION ALTERNATIVE*/
/*.navigation > li > a {
    display: inline-block;
    width: 100%;
    padding: 40.5px 33px;
    color: #54565b;
    font-family: 'Butler', serif;
    -webkit-transition: .5s color;
    -moz-transition: .5s color;
    -o-transition: .5s color;
    transition: .5s color;
}*/

.navigation > li > a:focus,
.navigation > li > a:hover {
    color: #cdcfc1;
    text-decoration: none;
}

.nav-link-number {
    display: inline-block;
    font-weight: 700;
    font-size: 34px;
    line-height: 1;
    vertical-align: top;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.nav-link-line {
    display: inline-block;
    padding-left: 42px;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 40px;
    vertical-align: top;
}

/*1.4. Popup(carousel).*/
.popup {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1002;
    width: 0;
    height: 100%;
    -webkit-transition: 0s width .5s;
    -moz-transition: 0s width .5s;
    -o-transition: 0s width .5s;
    transition: 0s width .5s;
}

.popup.open {
    width: 386px;
    -webkit-transition: 0s width 0s;
    -moz-transition: 0s width 0s;
    -o-transition: 0s width 0s;
    transition: 0s width 0s;
}

.popup-content {
    width: 100%;
    height: 100%;
    border-left: 3px solid #cdcfc1;
    margin-left: 100%;
    -webkit-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    -moz-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    -o-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
}

.popup.open .popup-content {
    margin-left: 0;
}

.popup-carousel {
    height: 100%;
}

.popup-item {
    position: relative;
    background: no-repeat center;
    background-size: cover;
    text-align: center;
}

.popup-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cdcfc1;
    opacity: 0;
    -webkit-transition: .3s opacity;
    -moz-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
}

.popup-item:hover:before {
    opacity: .6;
}

.popup-item-header {
    position: absolute;
    top: 50%;
    left: 0;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 28px;
    padding: 0 15px;
    margin: -14px 0 0;
    color: #cdcfc1;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Butler', serif;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    /*white-space: nowrap;*/
    visibility: visible;
}

.popup-item:hover .popup-item-header {
    visibility: hidden;
}

.popup-item-link {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1002;
    display: inline-block;
    padding: 23px 28px;
    border: 1px solid #262730;
    margin-top: -31px;
    margin-left: -104px;
    color: #262730;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .3s background-color,
    .3s color,
    .3s opacity;
    -moz-transition: .3s background-color,
    .3s color,
    .3s opacity;
    -o-transition: .3s background-color,
    .3s color,
    .3s opacity;
    transition: .3s background-color,
    .3s color,
    .3s opacity;
}

.popup-item:hover .popup-item-link {
    visibility: visible;
    opacity: 1;
}

.popup-item-link:focus,
.popup-item-link:hover {
    color: #cdcfc1;
    text-decoration: none;
}

.popup-item-link:before {
    background-color: #262730;
}
/*1.5. Footer.*/
.footer {
    position: absolute;
    bottom: 38px;
    left: 0;
    width: 100%;
}

.footer-panel {
    vertical-align: top;
}

.footer-panel.panel-right {
    text-align: right;
}

.footer-list {
    display: inline-block;
    padding-left: 0;
    margin-right: 95px;
    margin-bottom: 0;
    list-style: none;
}

.footer-list:last-child {
    margin-right: 0;
}

.footer-list > li > a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    line-height: 25px;
}

.footer-list > li > a:before {
    height: 1px;
    background-color: #fff;
}

.footer-list > li > a:focus,
.footer-list > li > a:hover {
    text-decoration: none;
}

.footer-social {
    padding-left: 0;
    margin-right: 2px;
    margin-bottom: 5px;
    list-style: none;
}

.footer-social > li {
    display: inline-block;
    margin-left: 22px;
}

.footer-social > li > a {
    display: inline-block;
    color: #fff;
    -webkit-transition: .3s -webkit-transform;
    -moz-transition: .3s -moz-transform;
    -o-transition: .3s -o-transform;
    transition: .3s transform;
}

.footer-social > li > a:focus,
.footer-social > li > a:hover {
    color: #fff;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}


/*!*--------------------------------------*!*/

/*2. Home*/
.section {
    background: #16171f no-repeat center;
    background-size: cover;
}

.section-full {
    padding: 0;
}

.section-header {
    max-width: 700px;
    margin: 0;
    color: #cdcfc1;
    font-weight: 500;
    font-family: 'Butler', serif;
    font-size: 80px;
    line-height: 74px;
}

.section-header-short {
    max-width: 650px;
}

.section-desc {
    max-width: 700px;
    margin: 12px 0 26px;
    color: #cdcfc1;
    font-size: 18px;
}

.section-name:hover a {
    text-decoration: none;
    padding-bottom: 5px;
    /*border-bottom: solid 1px white;*/
    /*display: inline;*/
    /*padding-bottom: 3px;*/
    /*transition: visibility 0s, opacity 3s linear;*/
}


.section-name {

    position: absolute;
    top: 50%;
    right: -50vh;
    width: 100vh;
    margin-top: -7px;
    margin-right: 92px;
    color: #cdcfc1;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.section-name:before {

    content: '';
    position: absolute;
    bottom: -85px;
    left: 50%;
    width: 1px;
    height: 57px;
    background-color: #cdcfc1;
}

.section-link {
    padding-right: 16px;
    padding-bottom: 5px;
    /*background: url('../img/common/icon_chevron_right.svg') no-repeat right center;*/
    color: #cdcfc1;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.5px;

}

.section-link:before {
    background-color: #cdcfc1;

}

.section-link:focus,
.section-link:hover {
    color: #cdcfc1;

}


.link-custom-right {
    position: relative;
}

.link-custom-right:focus,
.link-custom-right:hover {
    text-decoration: none;

    padding-bottom: 5px;
}

.link-custom-right:before {
    content: '';
    position: absolute;
    bottom: 0;

    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: .3s width;
    -moz-transition: .3s width;
    -o-transition: .3s width;
    transition: .3s width;
}

.link-custom-right:focus:before,
.link-custom-right:hover:before {
    width: 100%;
}

.section-link-right {
    padding-bottom: 5px;
    /*padding-right: 16px;*/
    /*background: url('../img/common/icon_chevron_right.svg') no-repeat right center;*/
    color: #cdcfc1;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    /*letter-spacing: 3.5px;*/

}

.section-link-right:before {
    background-color: #cdcfc1;

}

.section-link-right:focus,
.section-link-right:hover {
    color: #cdcfc1;

}

.section-link-footer {
    padding-bottom: 5px;


}

.section-link-right:before {
    background-color: #cdcfc1;

}

.section-link-right:focus,
.section-link-right:hover {
    color: #cdcfc1;

}

.section-date-part:hover{
    zoom: 104%;
    -webkit-transition: .3s -webkit-transform;
    -moz-transition: .3s -moz-transform;
    -o-transition: .3s -o-transform;
    transition: .3s transform;


}

.section-date {
    position: absolute;
    bottom: 140px;
    color: #cdcfc1;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-footer {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    text-align: center;
}

.section-btn-next {
    position: relative;
    display: inline-block;
    z-index: 1001;
    color: #cdcfc1;
}

.section-btn-next:focus,
.section-btn-next:hover {
    color: #cdcfc1;
    text-decoration: none;
}

.section-next-name {
    display: block;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-next-icon {
    position: relative;
    width: 44px;
    height: 44px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-top: 26px;
    background-color: #cdcfc1;
    color: #303239;
    line-height: 44px;
    -webkit-transition: .3s -webkit-transform;
    -moz-transition: .3s -moz-transform;
    -o-transition: .3s -o-transform;
    transition: .3s transform;
}

.section-next-icon:after {
    content: '';
    position: absolute;
    top: -11px;
    left: -11px;
    width: 66px;
    height: 66px;
    border: 11px solid rgba(205, 207, 193, .1);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.section-btn-next-down:hover .section-next-icon {
    border-color: #fff;



    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -o-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
    /*transition: 0.8s;*/
}

.section-btn-next-up:hover .section-next-icon {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}

/*2.1. Banner.*/
.section-banner-body {
    text-align: center;
}

.section-banner-body .section-header {
    display: inline-block;
    max-width: 500px;
    color: #cdcfc1;
    line-height: 95px;
}

.section-banner-body .section-desc {
    max-width: none;
    margin: 2px 0 22px;
    color: #cdcfc1;
    text-align: center;
}

.section-banner-body .section-link {
    padding-right: 24px;
}

/*2.2. Advertising.*/
.section-body-advertising {
    height: 100%;
}

.advertising-content {
    height: 100%;
    font-size: 0;
    text-align: center;
}

.advertising-item {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 33.33333%;
    padding: 2.5px;
    background: no-repeat center;
    background-size: cover;
    vertical-align: top;
}

.advertising-header {
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 100%;
    color: #cdcfc1;
    font-weight: 500;
    font-size: 77px;
    font-family: 'Butler', serif;
    text-align: center;
}



.advesting-link-holder {
    position: absolute;
    bottom: 35%;
    left: 0;
    width: 100%;
    color: #cdcfc1 !important;
    font-weight: 500;
    font-size: 36px;
    font-family: 'Butler', serif;
    text-align: center;
    margin: 35px;
    text-decoration: none !important;
}

.advesting-link-holder a {
    color: #cdcfc1 !important;
}

.advertising-link {
    /*display: inline-block;*/

    text-decoration: none !important;
    color: #cdcfc1 !important;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Butler', sans-serif;
    transition: 0.4s;
}

.advertising-link:before {
    background-color: #e82b2b;
    text-decoration: none !important;
}

.advesting-link-holder{
    /*visibility: hidden;*/
    transform: scale(0);
}

.advertising-item:hover .advesting-link-holder{
    /*-webkit-transition: .4s width .9s;*/
    /*-moz-transition: .4s width .9s;*/
    /*-o-transition: .4s width .9s;*/
    /*transition: .4s width .9s;*/
    transform: scale(1.1);
    padding-bottom: 3px;
    transition: transform 1s;
    visibility: visible;
    text-decoration: none !important;

}
/*.advertising-link:hover,*/
/*.advertising-link:focus {*/
    /*!*color: #e82b2b;*!*/
    /*text-decoration: none !important;*/

/*}*/

/*2.3. Contact Us.*/
.section-desc-contact {
    margin-top: 26px;
}

/*CREATIVE PROJECTS*/

/*.welcome-slider-title {*/
    /*color: #cdcfc1;*/
    /*font: 400 28px Butler;*/
/*}*/
/*.welcome-slider-text {*/
    /*margin-top: 20px;*/
    /*color: #5b5b5b;*/
    /*font: 400 18px 'Open Sans', serif;*/
/*}*/

/*.welcome-3-mainimg-container {*/
    /*position: relative;*/
    /*height: 500px;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*background-color: #2b2d39;*/
/*}*/
/*.welcome-3-mainimg-container img {*/
    /*position: absolute;*/
    /*opacity: 0.2;*/
    /*left: -1000%;*/
    /*right: -1000%;*/
    /*top: -1000%;*/
    /*bottom: -1000%;*/
    /*margin: auto;*/
    /*min-height: 100%;*/
    /*min-width: 100%;*/

    /*max-height: 100%;*/
/*}*/
/*.welcome-3-left-content {*/
    /*position: absolute;*/
    /*top:0;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/
/*.welcome-3-left-title {*/
    /*display: block;*/
    /*color: #cdcfc1;*/
    /*font: 500 48px Butler;*/
/*}*/
/*.welcome-3-left-btn {*/
    /*display: block;*/
    /*color: #cdcfc1;*/
    /*background-color: transparent;*/
    /*padding: 10px;*/
    /*margin-toadvertising-linkp: 20px;*/

    /*font: 500 14px 'Open Sans', serif;*/
    /*border: 1px solid #cdcfc1;*/
    /*max-width: 130px;*/
/*}*/
/*.welcome-3-right-content {*/
    /*display: inline-block;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
/*}*/
/*.welcome-right-title {*/
    /*color: #2b2d39;*/
    /*font: 700 18px Butler;*/
/*}*/
/*.welcome-right-text{*/
    /*color: #8e8e8e;*/
    /*font-size: 14px;*/
    /*!*font: 300 14px 'Open Sans', serif;*!*/
/*}*/
/*.welcome-3-right-img {*/
    /*width:30px;*/
    /*height:30px;*/
/*}*/

/*.welcome-4-main-title {*/
    /*text-align: center;*/
    /*color: #cdcfc1;*/
    /*font: 500 48px Butler;*/
/*}*/
/*.welcome-4-text {*/
    /*text-align: center;*/
    /*color: #5b5b5b;*/
    /*font: 400 16px 'Open Sans', serif;*/
    /*margin-bottom: 40px;*/
/*}*/
/*.welcome-4-title {*/
    /*position: absolute;*/
    /*top:0;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 100%;*/
    /*width: 100%;*/

    /*text-align: center;*/
    /*color: #cdcfc1;*/
    /*font: 500 48px Butler;*/

/*}*/









/*Slider Creative Single projects*/
/*1.4. Popup(carousel).*/
.popup-projects-single {
    /*position: fixed;*/
    top: 0%;
    /*margin-top: 25%;*/
    right: 0;
    z-index: 1002;
    width: 0% !important;
    height: 50%;
    -webkit-transition: 0s width .5s;
    -moz-transition: 0s width .5s;
    -o-transition: 0s width .5s;
    transition: 0s width .5s;
    text-align: center;
}

.popup-carousel-projects-single .swiper-slide{
    width: 100% !important;
    height: 100% !important;
    margin: 15%;
}

.popup-projects-single.open {
    width: 386px;
    -webkit-transition: 0s width 0s;
    -moz-transition: 0s width 0s;
    -o-transition: 0s width 0s;
    transition: 0s width 0s;
    width: 100% !important;
    text-align: center;
}

.popup-content-projects-single {
    width: 100%;
    height: 100%;
    /*border-left: 3px solid #cdcfc1;*/
    margin-left: 100%;
    -webkit-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    -moz-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    -o-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
}

.popup-projects-single.open .popup-content-projects-single {
    margin-left: 0;
}

.popup-carousel-projects-single {
    height: 100%;
    width: 100%;
}

.popup-item-projects-single {
    position: relative;
    background: no-repeat center;
    background-size: cover;

    text-align: center;
}

.popup-item-projects-single:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: #cdcfc1;
    opacity: 0;
    -webkit-transition: .3s opacity;
    -moz-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    text-align: center;

}

.popup-item-projects-single:hover:before {
    opacity: .6;

}

.popup-item-header-projects-single {
    position: absolute;
    top: 20%;
    left: 0;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    /*height: 450px;*/
    padding: 0 15px;
    margin: -14px 0 0;
    color: #cdcfc1;
    font-weight: 500;
    font-size: 45px;
    font-family: 'Butler', serif;
    text-align: center;
    overflow-wrap: break-word;

    /*text-overflow: ellipsis;*/
    vertical-align: middle;
    /*white-space: nowrap;*/
    visibility: visible;
    text-align: center;
}

.popup-item-projects-single:hover .popup-item-header-projects-single {
    visibility: hidden;
}

.popup-item-link-projects-single {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1002;
    display: inline-block;
    padding: 23px 28px;
    /*border: 1px solid #262730;*/
    margin-top: -31px;
    margin-left: -104px;
    color: #cdcfc1;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .3s background-color,
    .3s color,
    .3s opacity;
    -moz-transition: .3s background-color,
    .3s color,
    .3s opacity;
    -o-transition: .3s background-color,
    .3s color,
    .3s opacity;
    transition: .3s background-color,
    .3s color,
    .3s opacity;

    background: url('../img/common/icon_chevron_right.svg') no-repeat right center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3.5px;
}

.popup-item-projects-single:hover .popup-item-link-projects-single {
    visibility: visible;
    opacity: 1;
}

.popup-item-link-projects-single:focus,
.popup-item-link-projects-single:hover {
    color: #cdcfc1;
    text-decoration: none;
    background: url('../img/common/icon_chevron_right.svg') no-repeat right center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3.5px;

}

.popup-item-link-projects-single:before {
    /*background-color: #262730;*/

}


/*Slider Creative projects*/
/*1.4. Popup(carousel).*/
.popup-projects {
    /*position: fixed;*/
    top: 0%;
    margin-top: 25%;
    right: 0;
    z-index: 1002;
    width: 0% !important;
    height: 50%;
    -webkit-transition: 0s width .5s;
    -moz-transition: 0s width .5s;
    -o-transition: 0s width .5s;
    transition: 0s width .5s;
}

.popup-carousel-projects .swiper-slide{
    width: 30% !important;

    margin: 2px;
}

.popup-projects.open {
    width: 386px;
    -webkit-transition: 0s width 0s;
    -moz-transition: 0s width 0s;
    -o-transition: 0s width 0s;
    transition: 0s width 0s;
    width: 100% !important;
}

.popup-content-projects {
    width: 100%;
    height: 100%;
    /*border-left: 3px solid #cdcfc1;*/
    margin-left: 100%;
    -webkit-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    -moz-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    -o-transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
    transition: .5s margin-left cubic-bezier(0.25, 0.1, 0, 1.26);
}

.popup-projects.open .popup-content-projects {
    margin-left: 0;
}

.popup-carousel-projects {
    height: 100%;
}

.popup-item-projects {
    position: relative;
    background: no-repeat center;
    background-size: cover;

    text-align: center;
}

.popup-item-projects:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: #cdcfc1;
    opacity: 0;
    -webkit-transition: .3s opacity;
    -moz-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;

}

.popup-item-projects:hover:before {
    opacity: .6;

}

.popup-item-header-projects {
    position: absolute;
    top: 40%;
    left: 0;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 450px;
    padding: 0 15px;
    margin: -14px 0 0;
    color: #cdcfc1;
    font-weight: 500;
    font-size: 45px;
    font-family: 'Butler', serif;
    text-align: center;
    overflow-wrap: break-word;

    /*text-overflow: ellipsis;*/
    vertical-align: middle;
    /*white-space: nowrap;*/
    visibility: visible;
}

.popup-item-projects:hover .popup-item-header-projects {
    visibility: hidden;
}

.popup-item-link-projects {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1002;
    display: inline-block;
    padding: 23px 28px;
    /*border: 1px solid #262730;*/
    margin-top: -31px;
    margin-left: -104px;
    color: #cdcfc1;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .3s background-color,
    .3s color,
    .3s opacity;
    -moz-transition: .3s background-color,
    .3s color,
    .3s opacity;
    -o-transition: .3s background-color,
    .3s color,
    .3s opacity;
    transition: .3s background-color,
    .3s color,
    .3s opacity;

    background: url('../img/common/icon_chevron_right.svg') no-repeat right center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3.5px;
}

.popup-item-projects:hover .popup-item-link-projects {
    visibility: visible;
    opacity: 1;
}

.popup-item-link-projects:focus,
.popup-item-link-projects:hover {
    color: #cdcfc1;
    text-decoration: none;
    background: url('../img/common/icon_chevron_right.svg') no-repeat right center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3.5px;
}

.popup-item-link-projects:before {



}
/*Creative Projects single*/
.section-top-general{
    width: 100%;
    /*background-color:#2b2d39;*/
  /*ccground-image: url("front/img/home/banner_background.jpg");*/
    background-size: 100% 100%;
}

.vertical-center-general {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */


    position: relative;
    display: flex;
    align-items: center;
}

.welcome-main-title {
    font: 300 62pt Butler;
    color: #ced0c2;
}



/* FOOTER */

.footer-container {
    padding:30px 0;
    background-color: #292b33;
    font-size: 12px;
    color: #cdcfc1;
    letter-spacing: 1px;
    font-family: 'Open Sans', serif;
}

.footer-item {
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
}
.footer-item:hover, .footer-item-right a i:hover{
    color: #ffffff;
}
.footer-item-right {
    /*float: right;*/
    text-align: right;
}

/* FOOTER TRANSPARENT */

.footer-transparent {
    position: absolute;
    bottom:0;
    width: 100%;
}
.footer-transparent > .footer-container {
    background-color: transparent;
}


/* NEWSLETTER */

.newsletter-join-btn:hover, .newsletter-popup-join-btn:hover, .welcome-3-left-btn:hover {
    background-color: #cdcfc1 !important;
    color: #292b33 !important;
}

.newsletter-img-container, .advertisement-img-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.newsletter-img-container img, .advertisement-img-container img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.newsletter-content {
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 999;
}
.newsletter-content-title {
    color: #cdcfc1;
    font: 500 48px Butler;
}
.newsletter-content-text {
    color: #d2d4c7;
    font: 400 14px 'Open Sans', serif;
}
.newsletter-join-btn {
    display: inline-block;
    color: #cdcfc1;
    background-color: transparent;
    padding: 10px;
    margin-top: 30px;
    font: 400 14px 'Open Sans', serif;
    border: 1px solid #cdcfc1;
    max-width: 180px;
    cursor: pointer;
}

#newsletter-popup-container {
    display: none;
}
.newsletter-popup-container {
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 999;
}
.newsletter-padding {
    padding-right: 0;
    padding-left: 0;
}
.newsletter-form .form-group {
    margin-bottom: 15px;
}
.newsletter-form .form-control {
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cdcfc1;
    color: #555 !important;
    border-radius: 0px !important;"
    /*outline: 1px solid #cdcfc1;*/
}
.newsletter-popup-name-group {
    padding-right: 7px;
    /*padding-left: 15px;*/
    float: left;
}
.newsletter-popup-surname-group {
    padding-left: 7px;
    /*padding-right: 15px;*/
}

.newsletter-popup-join-btn {
    display: inline-block;
    color: #cdcfc1;
    background-color: transparent;
    padding: 10px 15px;
    margin-top: 30px;
    font: 300 14px 'Open Sans', serif;
    border: 1px solid #cdcfc1;
    max-width: 180px;
    cursor: pointer;
}
#newsletter-close-btn {
    position: absolute;
    top: -40px;
    right: 0;
    border: 1px solid white;
    padding: 2px 8px;
    color: #cdcfc1;
    font-family: 'Open Sans', serif;
    cursor: pointer;
}


.advertisement-content {
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.advertising-area-placeholder {
    color: #cdcfc1;
    font: 600 14px 'Open Sans', serif;
    letter-spacing: 3px;
}

.learn-more {
    position:absolute;
    bottom:150px;
    font-size: 10px;
    left:50%;
    font-weight:bold;
    color:#cdcfc1;
    text-transform:uppercase;
    width:180px;
    height: 9px;
    margin-left:-90px;
    text-align:center;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

.learn-more  .round-button{
    position:absolute;
    left:50%;
    bottom:-75px;
    z-index:100;
    margin-left:-25px;
}

.round-button{
    width:44px;
    height:44px;
    background-color: #cdcfc1;
    /*border: solid #64656a;*/
    border-radius:50%;
    box-shadow: 0px 0px 0px 12px rgba( 205, 207, 193, 0.169 );
    position: absolute;
    z-index: 29;
    background-image:url(/front/img/arrow487.png);
    background-repeat:no-repeat;
    background-position:center center;
    cursor:pointer;
    transition:all 0.5s ease;

}


.newproject-btn {
    display: inline-block;
    color: #cdcfc1;
    background-color: transparent;
    padding: 10px 15px;
    margin-top: 30px;
    font: 300 14px 'Open Sans', serif;
    border: 1px solid #cdcfc1;
    max-width: 253px;
    cursor: pointer;
    background: red;height: 76px;
}

#thirdimage1:hover
{
    cursor: hand;
}

/*COLECTION*/

.welcome-4-title:hover span{
    display: none;
}

.welcome-4-title img{
    visibility: hidden;
    display: none;
}

.welcome-4-title:hover img {
    visibility: visible;
    display: flex;
}

.welcome-4-title img:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

.welcome-4-title:hover{
    zoom: 108%;
    cursor: hand !important;
    color: white;
}

.welcome-4-text {
    text-align: center;
    color: #cdcfc1;
    font: 400 16px 'Open Sans', serif;
    margin-bottom: 40px;
}
.welcome-4-title {
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    text-align: center;
    color: #cdcfc1;
    font: 500 48px Butler;

}
.welcome-4-main-title {
    text-align: center;
    color: #cdcfc1;
    font: 500 48px Butler;
}

.modal-content-collection {
    height: auto;
    width: auto;
    border-radius: 0;

}

/*END COLLECTION*/