.content p {
    font-family: 'Arapey';
    padding-bottom: 0;
}

.article-view-t12 .content {
}
.article-view-t12 .section-image h1 {
    display: none;
}
.article-view-t12 .item {
    font-size: 0;
}
.article-view-t12 .section-full.section-image {
    background-position: left top;
}
.vs-block-inner {
    background-color: #f3f3f3;
    padding: 2% 3%;
    max-width: 33%;
    position: absolute;
    left: 14%;
    top: 50%;
    font-size: 25px;
    font-size: 1.3vw;
    font-family: "Arapey", 'Myriad Pro', 'ProximaNovaRegular';
    font-style: italic;
    text-align: center;
}
.article-view-t12 .border {
    border: 1px solid #f2376e;
    font-size: 0;
}
.vs-block-2 .vs-block-inner {
    left: auto;
    right: 5%;
    max-width: 35%;
    top: 20%;
}

.vs-block-3 .vs-block-inner {
    max-width: 65%;
    left: 8%;
    top: 30%;
}

.vs-block-4 .vs-block-inner {
    left: auto;
    right: 5%;
    max-width: 40%;
    top: 30%;
    text-align: left;
}

.vs-block-5 .vs-block-inner {
    right: 5%;
    left: auto;
    bottom: 5%;
    max-width: 45%;
}

.vs-block-6 .vs-block-inner {
    bottom: 5%;
    max-width: 45%;
}

.vs-block-1 .for-parallax {
    left: 10px;
    top: 10px;
}
.vs-block-2 .for-parallax {
    left: -10px;
    top: 0px;
}
.vs-block-3 .for-parallax {
    left: 12px;
    top: 36px;
}
.vs-block-4 .for-parallax {
    width: 97%;
    left: 1.2%;
    top: 44px;
}
.vs-block-5 .for-parallax {
    left: 14px;
    top: 54px;
}
.vs-block-6 .for-parallax {
    left: 20px;
    top: 50px;
}
.vs-block-7 .for-parallax {
    width: 96%;
    height: 98%;
    top: 38px;
    left: -2px;
}
.vs-block-7 .vs-block-inner {
    left: 56%;
    top: 36%;
}

@media screen and (max-width: 1199px) {

    .vs-block-1 .for-parallax, .vs-block-2 .for-parallax, .vs-block-3 .for-parallax ,
    .vs-block-4 .for-parallax, .vs-block-5 .for-parallax, .vs-block-6 .for-parallax,
    .vs-block-7 .for-parallax{
        left: 5px;
        top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .vs-block .vs-block-inner {
        font-size: 14px;
        max-width: 90%;
        left: 5%;
        top: auto;
        bottom: 7%;
    }
    .vs-block-1 .for-parallax, .vs-block-2 .for-parallax, .vs-block-3 .for-parallax ,
    .vs-block-4 .for-parallax, .vs-block-5 .for-parallax, .vs-block-6 .for-parallax,
    .vs-block-7 .for-parallax{
        left: 5px;
        top: 0px;
    }
}

@media screen and (max-width: 560px) {
    .vs-block .vs-block-inner {
        position: static;
        max-width: 100%;
        padding: 50px;
    }

    .vs-block .vs-block-inner .for-parallax {
        display: none;
    }
}


.triangle {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    background: url(/front/img/t12/triangle.png) no-repeat top left / contain;
    opacity: 0.7;
}

.triangle-1 {
    top: 9%;
    right: -20%;
}

.triangle-2 {
    top: 19%;
    left: -28%;
    transform: rotateZ(30deg);
}

.triangle-3 {
    top: 41%;
    right: -20%;
    transform: rotateZ(30deg);
}
.triangle-4 {
    left: -32%;
    transform: rotateZ(-13deg);
    top: 45%;
}
.triangle-5 {
    left: -32%;
    transform: rotateZ(-13deg);
    top: -55%;
}
.triangle-6 {
    right: -18%;
    top: 47%;
    transform: rotateZ(-10deg);
}

.triangle-7 {
    transform: rotateZ(-15deg);
    top: -32%;
    left: -27%;
}