@font-face{font-family:'brandon_med';src:url("../fonts/BrandomGrotesque/brandon_med.otf");font-weight:normal;font-style:normal}@font-face{font-family:'brandon_blk';src:url("../fonts/BrandomGrotesque/brandon_blk.otf");font-weight:normal;font-style:normal}@font-face{font-family:'brandon_bld';src:url("../fonts/BrandomGrotesque/brandon_bld.otf");font-weight:normal;font-style:normal}@font-face{font-family:'brandon_reg';src:url("../fonts/BrandomGrotesque/brandon_reg.otf");font-weight:normal;font-style:normal}@font-face{font-family:'oxford';src:url("../fonts/oxford/oxford.ttf");font-weight:normal;font-style:normal}.s{margin-bottom:90px}.article-view-t15 .section-full{background-size: cover;background-repeat:no-repeat}.article-view-t15 .section-image h1{font-size:0}.img-cell{width:60%;text-align:right}.s:nth-child(2n) .img-cell{text-align:left}.text-cell{width:40%}.text{width:250%;padding:40px;font-size:37px;font-family:'brandon_med';position:relative;z-index:11}.s:nth-child(2n) .text{margin-left:-150%;text-align:right}.special{font-size:49px;text-transform:uppercase;font-family:'oxford';display:inline;background-color:#9e0039;color:#fefefe;padding:5px 10px 5px 30px;line-height:1.7;position:relative}.special:after{content:'';position:absolute;right:-30px;top:0;width:0;height:0;border-style:solid;border-width:65px 0 0 30px;border-color:transparent transparent transparent #9e0039}.content p{font-size:1em;font-family:inherit;padding-bottom:inherit}
.s:nth-child(2n) .text .special:after {
    right: auto;
    left: -30px;
    border-width: 0 0px 65px 31px;
    border-color: transparent transparent #9e0039 transparent;
}

.s:nth-child(2n) .text .special {
    padding: 5px 30px 5px 10px;
}
.s-2 .special {
    font-size: 34px;
}
.s-2 .special:after {
    border-width: 47px 0 0 30px;
}
.s-2 {
    margin-top: -90px;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .text {
        font-size: 24px;
    }

    .special {
        font-size: 30px;
    }

    .content p {
        font-size: 24px!important;
    }

    .s:nth-child(2n) .text .special:after {
        border-width: 0 0 43px 31px;
    }

    .special:after {
        border-width: 43px 0 0 30px;
    }

    .s {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 768px) {
    .img-cell {
        text-align: center;
        width: 100%;
    }

    .text {
        text-align: center;
    }

    .for-img {
        text-align: center;
    }

    .s:nth-child(2n) .text {
        margin-left: 0;
    }

    .special {
        display: block;
    }

    .special:after {
        display: none;
    }
}