@font-face {
    font-family: 'Brandon-reg';
    src: url(../fonts/Brandon-reg.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon-medium';
    src: url(../fonts/Brandon-medium.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon-bold';
    src: url(../fonts/Brandon-bold.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BodoniMT-bold';
    src: url(../fonts/BodoniMT-bold.ttf);
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Georgia';
    font-weight: normal;
    font-size: 20px;
    color: #000;
    line-height: 1.6;
    height: 100%;
    position: relative;
}
.content h2 {
    font-family: "Brandon-bold";
    font-size: 33px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 0;
}
h3 {
    font-family: "Brandon-medium";
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}
.row {
    padding: 22px 0px;
}
.img-holder {
    overflow: hidden;
}
.img-holder img {
    max-width: 100%;
}
.row-1 h2 {
    padding-top: 10px;
    font-family: "BodoniMT-bold";
    font-size: 37px;
    color: #4a4a4a;
    line-height: 47px;
    letter-spacing: 8px;
    padding-bottom: 0;
}
.row-1 h2 span {
    color: #a81816;
}
.row-1 p {
    font-family: "Brandon-reg"!important;
    font-size: 37px!important;
    color: #010101;
    text-align: center;
    line-height: 45px;
}
.row-1 .text i{
    display: block;
    width: 164px;
    height: 1px;
    margin: 38px auto 18px;
    background-color: #000;
}
.row-2 .text {
    padding-left: 25px;
}
.row-2 i {
    font-family: "Myriad Pro";
    font-size: 27px;
    display: block;
    margin-top: 65px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
.define-line {
    display: block;
    width: 50px;
    height: 1px;
    margin: 20px auto;
    background-color: #000;
}
.row .text p:last-child {
    margin-bottom: 0;}
.row-4 .text {
    margin-top: 12%;
}
.row .text {
    margin-top: 30px;
}
.row-1 .text, .row-3 .text {
    margin-top: 0px;
}
.row-9 .text {
    margin-top: 25%;
}
.section-image h1 {
    font-size: 0;
}

.article-view .section-full {
    background-size: cover;
    background-repeat: no-repeat;
}
.content p {
    font-family: inherit;padding-bottom: 0;font-size: 1em;}
.row .text p {
    margin-bottom: 25px;
}
.row-3 .img-holder {
    padding-top: 30px;
    width: 150%;
}
.img-holder-special {
    position: relative;
    overflow: visible;
    padding-top: 70px;
    padding-bottom: 70px;
}

.img-holder-special:after {
    content: '';
    position: absolute;
    left: -15%;
    top: 0;
    width: 130%;
    height: 100%;
    z-index: 22;
    background: url(/front/img/t18/special.png) no-repeat center / 100%;
}

.row-4 .text {
    margin-top: 130px;
}
.row-6 .img-holder {
    margin-top: -110px;
}
.row-9 {
    padding-bottom: 70px;
}


@media (max-width: 1199px) {
    .row-3 .img-holder {
        width: 100%;
    }
    .row-1 h2 {
        font-size: 30px;
        margin-bottom: 0px;
    }
    .row-1 .text i {
        margin: 18px auto 15px;
    }
    .row-1 p {
        font-size: 27px;
        line-height: 28px;
        margin-top: 0px !important;
    }
    .row .text {
        margin-top: 0;
    }
    .row-2 i {
        margin-top: 20px;
        line-height: 35px;
    }
}


@media (max-width: 991px) {
    .row-4 .text {
        margin-top: 0;
    }
    .img-holder {
        text-align: center;
        padding: 10px 0 0;
    }
    .row .text {
        margin-top: 0px;
    }
    .row {
        padding: 15px 0px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 16px; 
    }
    h2 {
        font-size: 21px;
        margin-bottom: 7px;
    }
    h3 {
        font-size: 18px;
    }
    .define-line {
        margin: 15px auto;
    }
    .row-2 i {
        font-size: 17px;
    }
    .row-2 .text {
        padding: 0;
    }
    .row-2 i {
        margin-top: 30px;
    }
    .row-1 h2 {
        font-size: 23px;
    }
    .row-1 p {
        font-size: 27px;
    }
    .row-1 .text i {
        margin: 15px auto 10px;
    }
    .row-1 .text p:last-child {
        margin-top: 0px;
    }
}
.content {
    position: relative;
}

.content:before, .content:after {
    content: '';
    position: absolute;
    left: 0;
    top: -48px;
    width: 24%;
    height: 370px;
    background: url(/front/img/t18/fur.jpg) no-repeat left /contain;
}

.content:after{
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    transform: scaleX(-1);
    background-position: bottom left;
    background-size: 50%;
}
section.content {
    perspective: 1000px;
}