<div>
    <div class="item">
        <img src="http://lifeandluxury.com/uploads/articles/content/ceeebd7b578ca269b4b202ce47d2c044.jpg" data-img="img-1" width="100%" alt="" data-sr="enter right, move 100px">
        <div class="vs-block vs-block-1">
            <div class="vs-block-inner">
                <div class="text" data-sr="rotate 45deg over 0.5s">
                    <p>Mix charm with beauty, then blend them together with a great amount of inspiration and entrepreneurial spirit. Finally garnish with a gentleman’s shyness and adoration for his lady, and that is how you obtain Victoria’s Secret – the largest American retailer of women’s lingerie.</p>
                </div>

                <div class="for-parallax">
                    <li class="layer border" data-depth="0.10"></li>
                </div>

            </div>
        </div>

        <div class="triangle triangle-1"></div>

    </div>
</div>
<div>
    <div class="item">
        <img src="http://lifeandluxury.com/uploads/articles/content/cb3a22bdda44d577a669d3e4eb98f336.jpg" data-img="img-2" width="100%" alt="" data-sr="enter left, move 100px">
        <div class="vs-block vs-block-2">
            <div class="vs-block-inner">
                <div class="text" data-sr="rotate 45deg over 0.5s">
                    <p>But there still exists a much more festive recipe: Take the mixture above and sprinkle glamour on top. Add as much creativity as you can, decorate with entertainment, joy and attention, and the final result is one of the U.S.A’s leading annual fashion shows – Victoria’s Secret Fashion Show.<br></p>
                </div>

                <div class="for-parallax">
                    <li class="layer border" data-depth="0.10"></li>
                </div>

            </div>
        </div>

        <div class="triangle triangle-2"></div>

    </div>
</div>
<div>
    <div class="item">
        <img src="http://lifeandluxury.com/uploads/articles/content/06b70f2907bd4c38626f935f3caaf8b8.jpg" data-img="img-3" width="100%" alt="" data-sr="enter right, move 100px">
        <div class="vs-block vs-block-3">
            <div class="vs-block-inner">
                <div class="text" data-sr="rotate 45deg over 0.5s">
                    <p>Indeed, it was the fantastical transformation of the otherwise-ordinary lingerie and womenswear that have pushed Victoria’s Secret Fashion Show to its high standing today. Every year, the creative force behind this fashion dream line decides on the different themes for the show of that particular year, from which point their imagination would go beyond the stars with elaborate details, bold touch-ups and break-through ideas for costumed lingerie.<br></p>
                </div>

                <div class="for-parallax">
                    <li class="layer border" data-depth="0.10"></li>
                </div>

            </div>
        </div>

        <div class="triangle triangle-3"></div>

    </div>
</div>
<div>
    <div class="item">
        <img src="http://lifeandluxury.com/uploads/articles/content/3c6cff3125cd4fcf5d4cf531c07ee63e.jpg" data-img="img-4" width="100%" alt="" data-sr="enter left, move 100px">
        <div class="vs-block vs-block-4">
            <div class="vs-block-inner">
                <div class="text" data-sr="rotate 45deg over 0.5s">
                    <p>Looking back at the themes for previous shows such as Calendar Girls, Angel Ball, British Invasion and Circus, there were certainly times when it was thought that the show could not get any more imaginative than that, and we couldn’t be any more mistaken.&nbsp;<br><br>Exotic Traveller, Silver Screen Angels, and Gilded Angels, it is evident that the sky is not the limit for Victoria’s Secret.<br></p>
                </div>

                <div class="for-parallax">
                    <li class="layer border" data-depth="0.10"></li>
                </div>

            </div>
        </div>

        <div class="triangle triangle-4"></div>

    </div>
</div>
<div>
    <div class="item">
        <img src="http://lifeandluxury.com/uploads/articles/content/e52ecc5ff578e79d194133569e097ab9.jpg" data-img="img-5" width="100%" alt="" data-sr="enter right, move 100px">
        <div class="vs-block vs-block-5">
            <div class="vs-block-inner">
                <div class="text" data-sr="rotate 45deg over 0.5s">
                    <p>Let us not forget, though, the beautiful Angels who made this an all-star fashion event: Adriana Lima, Lily Aldridge, Candice Swanepoel, Alessandra Ambrosio and Behati Prinsloo, along with the fresh faces of Angels Stella Maxwell, Martha Hunt, Romee Strijd, Jac Jagaciak, Jasmine Tookes, Elsa Hosk, Lais Ribeiro, Sara Sampaio, Kate Grigorieva and Victoria’s Secret PINK Supermodel Rachel Hilbert. It is to no one’s surprise that they are called angels, since if it was not for their exuded sensual charm, those pieces of design would just be another lacklustre sketch.<br></p>
                </div>

                <div class="for-parallax">
                    <li class="layer border" data-depth="0.10"></li>
                </div>

            </div>
        </div>

        <div class="triangle triangle-5"></div>

    </div>
</div>
<div>
    <div class="item">
        <img src="http://lifeandluxury.com/uploads/articles/content/c1adb770851cb9e14986969bb8e6e79a.jpg" data-img="img-6" width="100%" alt="" data-sr="enter left, move 100px">
        <div class="vs-block vs-block-6">
            <div class="vs-block-inner">
                <div class="text" data-sr="rotate 45deg over 0.5s">
                    <p>Let us not forget, though, the beautiful Angels who made this an all-star fashion event: Adriana Lima, Lily Aldridge, Candice Swanepoel, Alessandra Ambrosio and Behati Prinsloo, along with the fresh faces of Angels Stella Maxwell, Martha Hunt, Romee Strijd, Jac Jagaciak, Jasmine Tookes, Elsa Hosk, Lais Ribeiro, Sara Sampaio, Kate Grigorieva and Victoria’s Secret PINK Supermodel Rachel Hilbert. It is to no one’s surprise that they are called angels, since if it was not for their exuded sensual charm, those pieces of design would just be another lacklustre sketch.</p>
                </div>

                <div class="for-parallax">
                    <li class="layer border" data-depth="0.10"></li>
                </div>

            </div>
        </div>

        <div class="triangle triangle-6"></div>

    </div>
</div>
<div>
    <div class="item">
        <img src="http://lifeandluxury.com/uploads/articles/content/59786a9d4b9c37130a9c6bd5a9c64a2e.jpg" data-img="img-7" width="100%" alt="" data-sr="enter right, move 100px">
        <div class="vs-block vs-block-7">
            <div class="vs-block-inner">
                <div class="text" data-sr="rotate 45deg over 0.5s">
                    <p>As 2015 is slowly coming to an end, the revelation of Victoria’s Secret would make a perfect closure to such an eventful and successful year. At the end, Victoria’s Secret is perhaps the best kept secret of all. </p>
                </div>

                <div class="for-parallax">
                    <li class="layer border" data-depth="0.10"></li>
                </div>

            </div>
        </div>

        <div class="triangle triangle-7"></div>

    </div>
</div>

